inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/E80850BC/sources/per/t/2AA24DED
.Rproj.user/E80850BC/sources/per/t/2AA24DED-contents
.Rproj.user/E80850BC/sources/per/t/6FB7AD16
.Rproj.user/E80850BC/sources/per/t/6FB7AD16-contents
.Rproj.user/E80850BC/sources/per/t/72B771FF
.Rproj.user/E80850BC/sources/per/t/72B771FF-contents
.Rproj.user/E80850BC/sources/per/t/9B793941
.Rproj.user/E80850BC/sources/per/t/9B793941-contents
.Rproj.user/E80850BC/sources/per/t/C5BC82D3
.Rproj.user/E80850BC/sources/per/t/C5BC82D3-contents
.Rproj.user/E80850BC/sources/per/t/C87B759E
.Rproj.user/E80850BC/sources/per/t/C87B759E-contents
.Rproj.user/E80850BC/sources/per/t/E5C4058E
.Rproj.user/E80850BC/sources/per/t/E5C4058E-contents
.Rproj.user/E80850BC/sources/per/t/EDF117C0
.Rproj.user/E80850BC/sources/per/t/EDF117C0-contents
.Rproj.user/E80850BC/sources/prop/9EF4DA21
.Rproj.user/E80850BC/pcs/source-pane.pper
.Rproj.user/E80850BC/sources/prop/E8D544E
*.pper
.Rproj.user/E80850BC/sources/prop/3072453
*.pper
.Rhistory
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/E80850BC/sources/prop/INDEX
.Rproj.user/E80850BC/sources/prop/BF53FD15
.Rproj.user/E80850BC/sources/prop/3072453
.Rproj.user/E80850BC/rmd-outputs
.Rhistory
R4ClinicalTrial.pdf
